
<div
    class="card text-white bg-primary"
>
    <img class="card-img-top" src="products/@MauXe-car.jpg" alt="Title" />
    <div class="card-body">
        <h4 class="card-title">Xe màu @MauXe</h4>
        <p class="card-text">Text</p>
    </div>
    <div class="card-footer">
        <button>Trải nghiệm</button>
    </div>
</div>

@code{
    [Parameter]
    public string MauXe { get; set; }
}