@layout HomePageMaster

@*Tên file .razor sẽ viết in hoa chữ cái đầu tiên*@
@page "/"
@*  đổi tiêu đề cho page *@
<PageTitle>Trang chủ</PageTitle>


<h1>Đây là trang chủ</h1>

@*  gọi component , file razor khong có @page *@
<Intro/>


